<!DOCTYPE html>
<html>


<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.jpg" alt="My Image">
        <p>Hey, this is "{{name}}" here, an Undergrad Engineer from NSUT.
            This is a website created by me to check real time weather of any location. I have used the services of
            mapbox and weatherstack to make this
            site functional. This site is created using languages : HTML,CSS & JAVASCRIPT and NODEJS framework is also
            used.
        </p>
    </div>

    {{>footer}}
</body>

</html>