<!DOCTYPE html>
<html>

<head>
    <title>help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="main-content">

        {{>header}}
        {{message}}
        <p> 1. If you are getting a unable to connect error; try checking your internet.</p>
        <p> 2. If you are getting a location not found error; please try with a better search term.</p>
        <p> 3. For code & documentation you can visit my <a id="gitlink" href="https://github.com/shawnfrost69">Github
                account</a>
            and view my project.</p>
        <p> 4. For more help feel free to contact at my mail id : ak1928.verma@gmail.com </p>
    </div>

    {{>footer}}
</body>

</html>